{% comment %}
  Renders event calendar's row ('list' layout).
{% endcomment %}

<div class="event-inner">

  <div class="event-item">
    <div class="event-item--date h3">
      {% unless tbc %}
        <time datetime="{{ month | date: "%m" }}-{{ day }}">
          <span class="event-item--day">{{ day }}</span>
          <span class="event-item--month">{{ month }}</span>
        </time>
      {% else %}
        <span class="event-item--tbc">{{ 'sections.events_calendar.tbc_text' | t }}</span>
      {% endunless %}
    </div>

    <div class="event-item--details">
      {% unless day_time == blank and price == blank %}
        {% unless day_time == blank %}
          <span class="event-item--subheading">{{ day_time }}
        {% endunless %}
        {% liquid
          unless price == blank
            assign divider = false
            if day_time != ''
              assign divider = true
            endif
            render 'price-currency-specified' with price: price, add_divider: divider
          endunless
        %}
        {% if day_time != '' %}
          </span>
        {% endif %}
      {% endunless %}

      {% unless heading == blank %}
        <h3 class="event-item--heading">{{ heading }}</h3>
      {% endunless %}
      
      {% unless event_location == blank %}
        <span class="event-item--location">{{ event_location }}</span>
      {% endunless %}
    </div>
  </div>

  {% unless cta == false %}
    <div class="event-cta">
      <a href="{{ cta_link }}" data-section-main-link>
        {{ cta_text }}
      </a>
    </div>
  {% endunless %}

</div>
