<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">

<head>
  {%- comment -%}DemoStoreRequirements{%- endcomment -%}
	<title>{{ 'coming_soon.general.title' | t }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <!-- CSS -->
  {% render 'css-variables' %}

  {{ 'theme-password.min.css' | asset_url | stylesheet_tag }}
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  <script type="text/javascript">
		window.wetheme = {
			name: 'Flow',
			webcomponentRegistry: {
        registry: {},
				checkScriptLoaded: function(key) {
					return window.wetheme.webcomponentRegistry.registry[key] ? true : false
				},
        register: function(registration) {
            if(!window.wetheme.webcomponentRegistry.checkScriptLoaded(registration.key)) {
              window.wetheme.webcomponentRegistry.registry[registration.key] = registration
            }
        }
      }
    };
	</script>

</head>

<body>
  <div id="PageContainer" class="background-overlay password--container" data-wetheme-section-type="password" data-wetheme-section-id="password" data-editor-open="{{ request.design_mode }}">

    {{ content_for_layout }}

  </div>

  {% render 'back-to-top-button' %}

  <script type="application/json" id="wetheme-global">
    {
      {% comment %}Translations that will be used in javascript section handling{% endcomment %}
      "translations": {
        "addToCart": {{ 'products.product.add_to_cart' | t | json }},
        "added": {{ 'products.product.added' | t | json }},
        "soldOut": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "no_results_html": {{ 'general.search.no_results_html' | t | json }},
        "results_for_html": {{ 'general.search.results_for_html' | t | json }},
        "products": {{ 'general.search.products' | t | json }},
        "pages": {{ 'general.search.pages' | t | json }},
        "collections": {{ 'general.search.collections' | t | json }},
        "articles": {{ 'general.search.articles' | t | json }},
        "quick_shop": {{ 'products.product.quick_shop' | t | json }},
        "view_options": {{ 'products.product.view_options' | t | json }},
        "read_more_html": {{ 'products.product.read_more_html' | t | json }},
        "read_less_html": {{ 'products.product.read_less_html' | t | json }},
        "youve_viewed": {{ 'collections.paginate.youve_viewed' | t | json }},
        "load_more": {{ 'collections.paginate.load_more' | t | json }},
        "productAdded": {{ 'products.product.added' | t | json }},
        "loading": {{ 'collections.paginate.loading' | t | json }},
        "giftwrap_label": {{ 'products.general.giftwrap_label' | t | json }},
        "yes": {{ 'products.general.yes' | t | json }},
        "days": {{ 'general.time.days' | t | json }},
        "hours": {{ 'general.time.hours' | t | json }},
        "minutes": {{ 'general.time.minutes' | t | json }},
        "seconds": {{ 'general.time.seconds' | t | json }}
      },
      "moneyFormat": {{ shop.money_format | json }},
      "giftwrapProduct": {{ settings.giftwrap_product_selector | json }}
    }
  </script>

  <script defer type="module" src="{{ 'theme.min.js' | asset_url }}"></script>
  <script defer src="{{ 'SafeLoadScripts.js' | asset_url }}"></script>
  <script defer nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script>
</body>
</html>
