<style>
  .accordion-container .title-bar {
    text-align: left;
    margin-bottom: 10px;
    text-transform: none;
    font-family: var(--body-font-stack);
    font-size: 1.2rem;
  }

  .accordion-container.wrapper-padded {
    max-width: 800px;
  }

  .accordion-faq--{{ section.id }}.homepage-sections-wrapper--white .accordion-content {
    border-bottom: 1px solid var(--text-color-transparent6);
  }

  .accordion-faq--{{ section.id }}.homepage-sections-wrapper--light .accordion-content {
    border-bottom: 1px solid var(--color-scheme-light-text-transparent60);
  }

  .accordion-faq--{{ section.id }}.homepage-sections-wrapper--accent .accordion-content {
    border-bottom: 1px solid var(--homepage-sections-accent-secondary-color-transparent60);
  }

  .accordion-faq--{{ section.id }}.homepage-sections-wrapper--dark .accordion-content {
    border-bottom: 1px solid var(--color-scheme-dark-text-transparent60);
  }

  .accordion-content summary {
    padding: 1rem 0;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-faq--{{ section.id }} summary span svg {
    vertical-align: middle;
  }

  .accordion-faq--{{ section.id }} .plus-icon,
  .accordion-faq--{{ section.id }} .minus-icon,
  .accordion-faq--{{ section.id }} .chevron-down,
  .accordion-faq--{{ section.id }} .chevron-up {
    width: var(--base-font-size);
    height: var(--base-font-size);
  }

  .accordion-faq--{{ section.id }} details summary .minus-icon,
  .accordion-faq--{{ section.id }} details summary .chevron-up {
    display: none;
  }

  .accordion-faq--{{ section.id }} details[open] summary .plus-icon,
  .accordion-faq--{{ section.id }} details[open] summary .chevron-down {
    display: none;
  }

  .accordion-faq--{{ section.id }} details[open] summary .minus-icon,
  .accordion-faq--{{ section.id }} details[open] summary .chevron-up {
    display: inline;
  }
</style>

<section
  class="homepage-sections-wrapper accordion--faq-wrapper accordion-faq--{{ section.id }} homepage-sections-wrapper--{{ section.settings.colors }}"
  data-wetheme-section-type="accordion--faq"
  data-wetheme-section-id="{{ section.id }}"
>
    <div class="accordion-container wrapper-padded">
      {% unless section.settings.title == blank %}
        <div class="title-bar custom-font">
          <h2 class="homepage-sections--title">{{ section.settings.title }}</h2>
        </div>
      {% endunless %}
      
      {% for block in section.blocks %}
        {% unless block.settings.text == blank and block.settings.question == blank %}
          <details class="accordion-content" {{ block.shopify_attributes }}>
            <summary role="button" aria-expanded="false" tabindex="0">
              {{ block.settings.question }}<span>
                {% if section.settings.faq_icon == "plus_minus" %}
                  {% render 'theme-icon' with icon: 'minus', iconClasses: 'minus-icon flex-full' %}
                  {% render 'theme-icon' with icon: 'plus', iconClasses: 'plus-icon flex-full' %}
                {% elsif section.settings.faq_icon == "caret" %}
                  {% render 'theme-icon', icon: 'chevron_up', iconClasses: 'chevron-up flex-full' %}
                  {% render 'theme-icon', icon: 'chevron_down', iconClasses: 'chevron-down flex-full' %}
                {% endif %}
              </span>
            </summary>
            <div class="rte">
              {{ block.settings.text }}
            </div>
          </details>
        {% endunless %}

        <style>
          {% if section.settings.title == blank %}
            .accordion-faq--{{ section.id }} details:first-of-type summary {
              padding-top: 0;
            }
          {% endif %}
        </style>
        
      {% endfor %}
    </div>

</section>

{% schema %}
  {
    "name": {
        "en": "Accordion/FAQ"
    },
    "class": "main-accordion--wrapper",
    "settings": [
        {
          "type": "select",
          "id": "colors",
          "label": {
              "en": "Color scheme",
              "de": "Farbschema",
              "es": "Esquema de colores",
              "fr": "Palette de couleurs",
              "pt-PT": "Esquema de cores"
          },
          "default": "white",
          "options": [
              {
                  "value": "white",
                  "label": {
                      "en": "Minimal",
                      "fr": "Minimal",
                      "de": "Minimal",
                      "es": "Mínimo",
                      "pt-PT": "Mínimo"
                  }
              },
              {
                  "value": "light",
                  "label": {
                      "en": "Light",
                      "de": "Licht",
                      "es": "Luz",
                      "fr": "Clair",
                      "pt-PT": "Claro"
                  }
              },
              {
                  "value": "accent",
                  "label": {
                      "en": "Feature",
                      "de": "Eigenschaft",
                      "es": "Destacado",
                      "fr": "Caractéristique",
                      "pt-PT": "Funcionalidade"
                  }
              },
              {
                  "value": "dark",
                  "label": {
                      "en": "Dark",
                      "de": "Dunkel",
                      "es": "Oscuro",
                      "fr": "Foncé",
                      "pt-PT": "Escuro"
                  }
              }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
          },
          "default": {
              "en": "Frequently asked questions"
          }
        },
        {
          "type": "radio",
          "id": "faq_icon",
          "label": {
              "en": "Icon style"
          },
          "options": [
              {
                  "value": "plus_minus",
                  "label": {
                      "en": "Plus/minus"
                  }
              },
              {
                  "value": "caret",
                  "label": {
                      "en": "Caret"
                  }
              }
          ],
          "default": "plus_minus"
        }
    ],
    "blocks": [
      {
        "type": "tab_content",
        "name": {
            "en": "Tab content"
        },
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "Place your question or heading here"
            }
          },
          {
            "type": "richtext",
            "id": "text",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": {
                "en": "<p>Here you can place an explanation or answer to the question.</p>"
            }
          }
        ]
      }
    ],
    "presets": [
        {
            "name": {
                "en": "Accordion/FAQ"
            },
            "category": {
                "en": "Store information"
            },
            "blocks": [
                {
                  "type": "tab_content"
                },
                {
                  "type": "tab_content"
                },
                {
                  "type": "tab_content"
                }
            ]
        }
    ],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}