<link rel="preload" href="{{ 'section-animated-text.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-animated-text.min.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  /* overrides global font-sizes with section font-sizes */
  [data-wetheme-section-id="{{ section.id }}"] .content-wrapper--text_static *,
  [data-wetheme-section-id="{{ section.id }}"] .content-wrapper--text_dynamic * {
    font-size: {{ section.settings.text_size_mobile }}px !important;
    line-height: normal;
  }

  @media only screen and (min-width: 768px) {
    [data-wetheme-section-id="{{ section.id }}"] .content-wrapper--text_static *,
    [data-wetheme-section-id="{{ section.id }}"] .content-wrapper--text_dynamic * {
      font-size: {{ section.settings.text_size_desktop }}px !important;
    }
  }
</style>

{% liquid
  assign img_desktop = 'blank'
  if section.settings.image_desktop != blank
    assign img_desktop = 'selected'
  endif
  assign img_mobile = 'blank'
  if section.settings.image_mobile != blank
    assign img_mobile = 'selected'
  endif
  assign section_imgs = 'img-mobile--' | append: img_mobile | append: ' img-desktop--' | append: img_desktop
  assign section_height = 'height-mobile--' | append: section.settings.height_mobile | append: ' height-desktop--' | append: section.settings.height_desktop
  assign content_position = 'content-position-mobile--' | append: section.settings.text_position_mobile | append: ' content-position-desktop--' | append: section.settings.text_position_desktop

  case section.settings.text_position_mobile
    when 'top_left' or 'left' or 'bottom_left'
      assign alignment_mobile = 'left'
    when 'top_center' or 'center' or 'bottom_center'
      assign alignment_mobile = 'center'
    when 'top_right' or 'right' or 'bottom_right'
      assign alignment_mobile = 'right'
  endcase

  case section.settings.text_position_desktop
    when 'top_left' or 'left' or 'bottom_left'
      assign alignment_desktop = 'left'
    when 'top_center' or 'center' or 'bottom_center'
      assign alignment_desktop = 'center'
    when 'top_right' or 'right' or 'bottom_right'
      assign alignment_desktop = 'right'
  endcase

  assign content_aligment = 'content-wrapper-mobile--' | append: alignment_mobile | append: ' content-wrapper-desktop--' | append: alignment_desktop
%}

<section class="animated-text homepage-sections-wrapper--{{ section.settings.colors }} {{ section_height }} {{ section_imgs }}" data-wetheme-section-type="animated-text" data-wetheme-section-id="{{ section.id }}">
  
  {% liquid
    assign kb = ' kb-enabled'
    if settings.ken_burns_enabled == false
      assign kb = ' kb-disabled'
    endif

    if section.settings.image_mobile
      assign bg_img_mobile = section.settings.image_mobile
      assign bg_img_mobile_alt = bg_img_mobile.alt | default: shop.name | escape
      assign bg_img_mobile_classes = ' animated-text--bg-img-mobile' | append: kb
      assign bg_img_mobile_fit_container = true
      if section.settings.height_mobile == 'original'
        assign bg_img_mobile_fit_container = false
      endif
      
      render 'responsive-image' with bg_img_mobile, alt: bg_img_mobile_alt, wrapper_class: bg_img_mobile_classes, allow_stretch: bg_img_mobile_fit_container
    endif

    if section.settings.image_desktop
      assign bg_img_desktop = section.settings.image_desktop
      assign bg_img_desktop_alt = bg_img_desktop.alt | default: shop.name | escape
      assign bg_img_desktop_classes = ' animated-text--bg-img-desktop' | append: kb
      assign bg_img_desktop_fit_container = true
      if section.settings.height_desktop == 'original'
        assign bg_img_desktop_fit_container = false
      endif
      
      render 'responsive-image' with bg_img_desktop, alt: bg_img_desktop_alt, wrapper_class: bg_img_desktop_classes, allow_stretch: bg_img_desktop_fit_container
    endif
  %}

  <div class="animated-text--inner {{ content_position }}">
    <div class="animated-text--content show-on-scroll">
      {% for block in section.blocks %}
        <div class="content-wrapper--{{ block.type }} {{ content_aligment }} block-id--{{ block.id }}" {{ block.shopify_attributes }}>
          {% case block.type %}

            {% when 'text_static' %}
              <style>
                .block-id--{{ block.id }} .text-box-max-width {
                  max-width: {{ block.settings.max_width_mobile }}%;
                  display: inline-block;
                }

                @media only screen and (min-width: 768px) {
                  .block-id--{{ block.id }} .text-box-max-width {
                    max-width: {{ block.settings.max_width_desktop }}%;
                  }
                }
              </style>
              <div class="h2 text-box-max-width"{% if block.settings.text_color != 'rgba(0,0,0,0)' %} style="color: {{ block.settings.text_color }}!important"{% endif %}>{{ block.settings.text_static }}</div>

            {% when 'text_dynamic' %}
              <style>
                /* animation styles */
                .dynamic-words {
                  position: relative;
                  transition: width {{ block.settings.animation_timing }}ms cubic-bezier(0.2, 1, 0.3, 1);
                  font-size: inherit!important;
                  display: inline-flex;
                  vertical-align: middle;
                }

                .dynamic-words > span:not(.active) {
                  position: absolute;
                  opacity: 0;
                  pointer-events: none;
                  left: 0;
                  top: 0;
                }
                
                .dynamic-words span {
                  transition: transform {{ block.settings.animation_timing }}ms cubic-bezier(0.2, 1, 0.3, 1), opacity {{ block.settings.animation_timing }}ms cubic-bezier(0.2, 1, 0.3, 1);
                  display: block;
                  white-space: nowrap;
                }
                
                .dynamic-words > span {
                  overflow: hidden;
                  transform: translate3d(-100%,0,0);
                }
                
                .dynamic-words > span span span {
                  transform: translate3d(100%,0,0);
                  margin: 0 1px;
                }
                
                .dynamic-words span.active,
                .dynamic-words span.active span span {
                  transition-delay: 0.4s;
                  transform: translate3d(0,0,0);
                }
                
                .content-wrapper--text_dynamic .text-wrap {
                  overflow: hidden;
                  display: inline-block;
                }
                
                .content-wrapper--text_dynamic .text-wrap > span {
                  transition: transform {{ block.settings.animation_timing }}ms cubic-bezier(0.25, 1, 0.5, 1);
                  transform: translate3d(0px, 0px, 0px);
                }
                
                .content-wrapper--text_dynamic .text-wrap > span {
                  display: block;
                  vertical-align: middle;
                }

                @media screen and (prefers-reduced-motion: reduce) {
                  .dynamic-words,
                  .dynamic-words span,
                  .content-wrapper--text_dynamic .text-wrap > span {
                    transition: none;
                  }
                }
              </style>

              <animated-text class="dynamic-words h2" data-animation-speed="{{ block.settings.animation_timing }}" data-animation-delay="{{ block.settings.rotation_interval }}">
                {% assign dynamic_words = block.settings.text_dynamic | split: "," %}
                {% for word in dynamic_words %}
                  <span class="text-wrap{% if forloop.first %} active{% endif %}">
                    <span>
                      <span{% if block.settings.text_color != 'rgba(0,0,0,0)' %} style="color: {{ block.settings.text_color }}!important"{% endif %}>{{ word }}</span>
                    </span>
                  </span>
                {% endfor %}
              </animated-text>

              <script src="{{ 'component-animated-text.js' | asset_url }}" defer="defer" type="module" data-internal-script></script>

            {% when 'button' %}
              {% if block.settings.color_button_text != 'rgba(0,0,0,0)' or block.settings.color_button_background != 'rgba(0,0,0,0)' or block.settings.color_hover_button_text != 'rgba(0,0,0,0)' or block.settings.color_hover_button_background != 'rgba(0,0,0,0)' %}
                <style>
                  {% if block.settings.color_button_text != 'rgba(0,0,0,0)' %}
                    .animated-text a.homepage-section-btn {
                      color: {{ block.settings.color_button_text }}!important;
                    }
                  {% endif %}
                    
                  {%if block.settings.color_button_background != 'rgba(0,0,0,0)' %}
                    .animated-text a.homepage-section-btn {
                      background-color: {{ block.settings.color_button_background }}!important;
                    }
                  {% endif %}
                  
                  {% if block.settings.color_hover_button_text != 'rgba(0,0,0,0)' %} 
                    .animated-text a.homepage-section-btn:hover {
                      color: {{ block.settings.color_hover_button_text }}!important;
                    }
                  {% endif %}
                  
                  {% if block.settings.color_hover_button_background != 'rgba(0,0,0,0)' %}
                    .animated-text a.homepage-section-btn:hover {
                      background-color: {{ block.settings.color_hover_button_background }}!important;
                    }
                  {% endif %}
                </style>
              {% endif %}
              {% render 'home-section-button', link: block.settings.button_url, label: block.settings.button_text %}
          
            {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>

</section>

{% schema %}
  {
    "name": {
      "en": "Animated text",
      "fr": "Texte animé",
      "de": "Animierter Text",
      "es": "Texto animado",
      "pt-PT": "Texto animado"
    },
    "settings": [
      {
        "type": "select",
        "id": "colors",
        "label": {
          "en": "Color scheme",
          "de": "Farbschema",
          "es": "Esquema de colores",
          "fr": "Palette de couleurs",
          "pt-PT": "Esquema de cores"
        },
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": {
              "en": "Minimal",
              "fr": "Minimal",
              "de": "Minimal",
              "es": "Mínimo",
              "pt-PT": "Mínimo"
            }
          },
          {
            "value": "light",
            "label": {
              "en": "Light",
              "de": "Licht",
              "es": "Luz",
              "fr": "Clair",
              "pt-PT": "Claro"
            }
          },
          {
            "value": "accent",
            "label": {
              "en": "Feature",
              "de": "Eigenschaft",
              "es": "Destacado",
              "fr": "Caractéristique",
              "pt-PT": "Funcionalidade"
            }
          },
          {
            "value": "dark",
            "label": {
              "en": "Dark",
              "de": "Dunkel",
              "es": "Oscuro",
              "fr": "Foncé",
              "pt-PT": "Escuro"
            }
          }
        ]
      },
      {
        "type": "header",
        "content": {
          "en": "Desktop",
          "de": "Desktop",
          "es": "Escritorio",
          "fr": "Ordinateur de bureau",
          "pt-PT": "Ambiente de trabalho"
        }
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": {
          "en": "Image (optional)",
          "de": "Bild (optional)",
          "es": "Imagen (opcional)",
          "fr": "Image (facultatif)",
          "pt-PT": "Imagem (opcional)"
        },
        "info": {
          "en": "2000 x 900px recommended",
          "de": "2000 x 900 px empfohlen",
          "es": "Recomendado 2000 x 900 px",
          "fr": "2000 x 900 px recommandé",
          "pt-PT": "2000 x 900px, recomendado"
        }
      },
      {
        "type": "select",
        "id": "height_desktop",
        "label": {
          "en": "Section height",
          "de": "Abschnitthöhe",
          "es": "Altura de la sección",
          "fr": "Hauteur de section",
          "pt-PT": "Altura da secção"
        },
        "default": "m",
        "options": [
          {
            "value": "s",
            "label": {
              "en": "Small",
              "de": "Klein",
              "es": "Pequeño",
              "fr": "Petite",
              "pt-PT": "Pequeno"
            }
          },
          {
            "value": "m",
            "label": {
              "en": "Medium",
              "de": "Mittel",
              "es": "Mediano",
              "fr": "Moyenne",
              "pt-PT": "Médio"
            }
          },
          {
            "value": "l",
            "label": {
              "en": "Large",
              "de": "Groß",
              "es": "Grande",
              "fr": "Grande",
              "pt-PT": "Grande"
            }
          },
          {
            "value": "xl",
            "label": {
              "en": "Extra Large",
              "de": "Extra groß",
              "es": "Muy grande",
              "fr": "Extra grande",
              "pt-PT": "Extra Grande"
            }
          },
          {
            "value": "full",
            "label": {
              "en": "Fullscreen",
              "de": "Vollbild",
              "es": "Pantalla completa",
              "fr": "Plein écran",
              "pt-PT": "Ecrã inteiro"
            }
          },
          {
            "value": "original",
            "label": {
              "en": "Original",
              "de": "Original",
              "es": "Original",
              "fr": "D'origine",
              "pt-PT": "Original"
            }
          }
        ]
      },
      {
        "type": "range",
        "id": "text_size_desktop",
        "min": 16,
        "max": 60,
        "step": 2,
        "unit": {
            "en": "px",
            "de": "px",
            "es": "px",
            "fr": "px",
            "pt-PT": "px"
        },
        "label": {
          "en": "Text size",
          "de": "Textgröße",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "pt-PT": "Tamanho do texto"
        },
        "default": 60
      },
      {
        "type": "select",
        "id": "text_position_desktop",
        "label": {
          "en": "Text position",
          "de": "Textposition",
          "es": "Posición del texto",
          "fr": "Position du texte",
          "pt-PT": "Posição do texto"
        },
        "default": "left",
        "options": [
          {
            "value": "top_left",
            "label": {
              "en": "Top left",
              "de": "Oben links",
              "es": "Esquina superior izquierda",
              "fr": "En haut à gauche",
              "pt-PT": "Canto superior esquerdo"
            }
          },
          {
            "value": "top_center",
            "label": {
              "en": "Top center",
              "de": "Oben Mitte",
              "es": "Zona superior central",
              "fr": "En haut au centre",
              "pt-PT": "Centro superior"
            }
          },
          {
            "value": "top_right",
            "label": {
              "en": "Top right",
              "de": "Oben rechts",
              "es": "Esquina superior derecha",
              "fr": "En haut à droite",
              "pt-PT": "Canto superior direito"
            }
          },
          {
            "value": "left",
            "label": {
              "en": "Center left",
              "de": "Mitte links",
              "es": "Zona central izquierda",
              "fr": "Centre gauche",
              "pt-PT": "Centrar à esquerda"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Center",
              "de": "Mitte",
              "es": "Zona central",
              "fr": "Centre",
              "pt-PT": "Centro"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Center right",
              "de": "Mitte rechts",
              "es": "Zona central derecha",
              "fr": "Centre droit",
              "pt-PT": "Centrar à direita"
            }
          },
          {
            "value": "bottom_left",
            "label": {
              "en": "Bottom left",
              "de": "unten links",
              "es": "esquina inferior izquierda",
              "fr": "en bas à gauche",
              "pt-PT": "Canto inferior esquerdo"
            }
          },
          {
            "value": "bottom_center",
            "label": {
              "en": "Bottom center",
              "de": "unten Mitte",
              "es": "Zona inferior central",
              "fr": "en bas au centre",
              "pt-PT": "Centro inferior"
            }
          },
          {
            "value": "bottom_right",
            "label": {
              "en": "Bottom right",
              "de": "Unten rechts",
              "es": "Esquina inferior derecha",
              "fr": "En bas à droite",
              "pt-PT": "Canto inferior direito"
            }
          }
        ]
      },
      {
        "type": "header",
        "content": {
          "en": "Mobile",
          "de": "Mobil",
          "es": "Móvil",
          "fr": "Téléphone mobile",
          "pt-PT": "Telemóvel"
        }
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": {
          "en": "Image (optional)",
          "de": "Bild (optional)",
          "es": "Imagen (opcional)",
          "fr": "Image (facultatif)",
          "pt-PT": "Imagem (opcional)"
        },
        "info": {
          "en": "2000 x 900px recommended",
          "de": "2000 x 900 px empfohlen",
          "es": "Recomendado 2000 x 900 px",
          "fr": "2000 x 900 px recommandé",
          "pt-PT": "2000 x 900px, recomendado"
        }
      },
      {
        "type": "select",
        "id": "height_mobile",
        "label": {
          "en": "Section height",
          "de": "Abschnitthöhe",
          "es": "Altura de la sección",
          "fr": "Hauteur de section",
          "pt-PT": "Altura da secção"
        },
        "default": "full",
        "options": [
          {
            "value": "s",
            "label": {
              "en": "Small",
              "de": "Klein",
              "es": "Pequeño",
              "fr": "Petite",
              "pt-PT": "Pequeno"
            }
          },
          {
            "value": "m",
            "label": {
              "en": "Medium",
              "de": "Mittel",
              "es": "Mediano",
              "fr": "Moyenne",
              "pt-PT": "Médio"
            }
          },
          {
            "value": "l",
            "label": {
              "en": "Large",
              "de": "Groß",
              "es": "Grande",
              "fr": "Grande",
              "pt-PT": "Grande"
            }
          },
          {
            "value": "xl",
            "label": {
              "en": "Extra Large",
              "de": "Extra groß",
              "es": "Muy grande",
              "fr": "Extra grande",
              "pt-PT": "Extra Grande"
            }
          },
          {
            "value": "full",
            "label": {
              "en": "Fullscreen",
              "de": "Vollbild",
              "es": "Pantalla completa",
              "fr": "Plein écran",
              "pt-PT": "Ecrã inteiro"
            }
          },
          {
            "value": "original",
            "label": {
              "en": "Original",
              "de": "Original",
              "es": "Original",
              "fr": "D'origine",
              "pt-PT": "Original"
            }
          }
        ]
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 16,
        "max": 60,
        "step": 2,
        "unit": {
            "en": "px",
            "de": "px",
            "es": "px",
            "fr": "px",
            "pt-PT": "px"
        },
        "label": {
          "en": "Text size",
          "de": "Textgröße",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "pt-PT": "Tamanho do texto"
        },
        "default": 22
      },
      {
        "type": "select",
        "id": "text_position_mobile",
        "label": {
          "en": "Text position",
          "de": "Textposition",
          "es": "Posición del texto",
          "fr": "Position du texte",
          "pt-PT": "Posição do texto"
        },
        "default": "left",
        "options": [
          {
            "value": "top_left",
            "label": {
              "en": "Top left",
              "de": "Oben links",
              "es": "Esquina superior izquierda",
              "fr": "En haut à gauche",
              "pt-PT": "Canto superior esquerdo"
            }
          },
          {
            "value": "top_center",
            "label": {
              "en": "Top center",
              "de": "Oben Mitte",
              "es": "Zona superior central",
              "fr": "En haut au centre",
              "pt-PT": "Centro superior"
            }
          },
          {
            "value": "top_right",
            "label": {
              "en": "Top right",
              "de": "Oben rechts",
              "es": "Esquina superior derecha",
              "fr": "En haut à droite",
              "pt-PT": "Canto superior direito"
            }
          },
          {
            "value": "left",
            "label": {
              "en": "Center left",
              "de": "Mitte links",
              "es": "Zona central izquierda",
              "fr": "Centre gauche",
              "pt-PT": "Centrar à esquerda"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Center",
              "de": "Mitte",
              "es": "Zona central",
              "fr": "Centre",
              "pt-PT": "Centro"
            }
          },
          {
            "value": "right",
            "label": {
              "en": "Center right",
              "de": "Mitte rechts",
              "es": "Zona central derecha",
              "fr": "Centre droit",
              "pt-PT": "Centrar à direita"
            }
          },
          {
            "value": "bottom_left",
            "label": {
              "en": "Bottom left",
              "de": "unten links",
              "es": "esquina inferior izquierda",
              "fr": "en bas à gauche",
              "pt-PT": "Canto inferior esquerdo"
            }
          },
          {
            "value": "bottom_center",
            "label": {
              "en": "Bottom center",
              "de": "unten Mitte",
              "es": "Zona inferior central",
              "fr": "en bas au centre",
              "pt-PT": "Centro inferior"
            }
          },
          {
            "value": "bottom_right",
            "label": {
              "en": "Bottom right",
              "de": "Unten rechts",
              "es": "Esquina inferior derecha",
              "fr": "En bas à droite",
              "pt-PT": "Canto inferior direito"
            }
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_static",
        "limit": 2,
        "name": {
          "en": "Static text",
          "de": "Statischer Text",
          "es": "Texto estático",
          "fr": "Texte statique",
          "pt-PT": "Texto estático"
        },
        "settings": [
          {
            "type": "richtext",
            "id": "text_static",
            "label": {
              "en": "Text",
              "de": "Text",
              "es": "Texto",
              "fr": "Texte",
              "pt-PT": "Texto"
            },
            "default": {
              "en": "<p>Static text</p>",
              "de": "<p>Statischer Text</p>",
              "es": "<p>Texto estático</p>",
              "fr": "<p>Texte statique</p>",
              "pt-PT": "<p>Texto estático</p>"
            }
          },
          {
            "type": "range",
            "id": "max_width_desktop",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": {
              "en": "%",
              "de": "%",
              "es": "%",
              "fr": "%",
              "pt-PT": "%"
            },
            "label": {
                "en": "Max width (desktop)",
                "de": "Maximale Breite (Desktop)",
                "es": "Ancho máximo (escritorio)",
                "fr": "Largeur maximale (bureau)",
                "pt-PT": "Largura máxima (área de trabalho)"
            },
            "default": 100
          },
          {
            "type": "range",
            "id": "max_width_mobile",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": {
              "en": "%",
              "de": "%",
              "es": "%",
              "fr": "%",
              "pt-PT": "%"
            },
            "label": {
                "en": "Max width (mobile)",
                "de": "Maximale Breite (mobile)",
                "es": "Ancho máximo (móvil)",
                "fr": "Largeur maximale (mobile)",
                "pt-PT": "Largura máxima (móvel)"
            },
            "default": 100
          },
          {
            "type": "color",
            "id": "text_color",
            "label": {
              "en": "Text color",
              "de": "Text color",
              "es": "Text color",
              "fr": "Text color",
              "pt-PT": "Text color"
            },
            "info": {
              "en": "If a color is selected, it will override the color scheme",
              "de": "Wenn eine Farbe ausgewählt ist, überschreibt diese das Farbschema",
              "es": "Si se selecciona un color, este anulará el esquema de color",
              "fr": "Si une couleur est sélectionnée, cela remplacera le jeu de couleurs",
              "pt-PT": "Se uma cor for selecionada, ela substituirá o esquema de cores"
            },
            "default": "rgba(0,0,0,0)"
          }
        ]
      },
      {
        "type": "text_dynamic",
        "limit": 1,
        "name": {
          "en": "Dynamic text",
          "de": "Dynamischer Text",
          "es": "Texto dinámico",
          "fr": "Texte dynamique",
          "pt-PT": "Texto dinâmico"
        },
        "settings": [
          {
            "type": "text",
            "id": "text_dynamic",
            "label": {
              "en": "Text",
              "de": "Text",
              "es": "Texto",
              "fr": "Texte",
              "pt-PT": "Texto"
            },
            "info": {
              "en": "Use a comma separated list to add multiple words. E.g: amazing,fantastic,bestselling,jaw-dropping",
              "de": "Verwenden Sie eine durch Kommas getrennte Liste, um mehrere Wörter hinzuzufügen. ZB: erstaunlich,fantastisch,meistverkauft,umwerfend",
              "es": "Utilice una lista separada por comas para agregar varias palabras. Ej: increíble,fantástico,más-vendido,asombroso",
              "fr": "Utilisez une liste séparée par des virgules pour ajouter plusieurs mots. Par exemple: incroyable,fantastique,best-seller,à couper le souffle",
              "pt-PT": "Use uma lista separada por vírgulas para adicionar várias palavras. Ex: incrível,fantástico,best-seller,de cair o queixo"
            },
            "default": {
              "en": "amazing,fantastic,bestselling,jaw-dropping",
              "de": "erstaunlich,fantastisch,meistverkauft,umwerfend",
              "es": "increíble,fantástico,más-vendido,asombroso",
              "fr": "incroyable,fantastique,best-seller,à couper le souffle",
              "pt-PT": "incrível,fantástico,best-seller,de cair o queixo"
            }
          },
          {
            "type": "range",
            "id": "animation_timing",
            "min": 200,
            "max": 3000,
            "step": 100,
            "unit": {
              "en": "ms",
              "de": "ms",
              "es": "ms",
              "fr": "ms",
              "pt-PT": "ms"
            },
            "label": {
              "en": "Animation timing",
              "de": "Animationszeit",
              "es": "Tiempo de la animación",
              "fr": "Temps d'animation",
              "pt-PT": "Tempo de animação"
            },
            "default": 500
          },
          {
            "type": "range",
            "id": "rotation_interval",
            "min": 3000,
            "max": 8000,
            "step": 100,
            "unit": {
              "en": "ms",
              "de": "ms",
              "es": "ms",
              "fr": "ms",
              "pt-PT": "ms"
            },
            "label": {
              "en": "Rotation interval",
              "de": "Rotationsintervall",
              "es": "Intervalo de rotación",
              "fr": "Intervalle de rotation",
              "pt-PT": "Intervalo de rotação"
            },
            "default": 5000
          },
          {
            "type": "color",
            "id": "text_color",
            "label": {
              "en": "Text color",
              "de": "Text color",
              "es": "Text color",
              "fr": "Text color",
              "pt-PT": "Text color"
            },
            "info": {
              "en": "If a color is selected, it will override the color scheme",
              "de": "Wenn eine Farbe ausgewählt ist, überschreibt diese das Farbschema",
              "es": "Si se selecciona un color, este anulará el esquema de color",
              "fr": "Si une couleur est sélectionnée, cela remplacera le jeu de couleurs",
              "pt-PT": "Se uma cor for selecionada, ela substituirá o esquema de cores"
            },
            "default": "rgba(0,0,0,0)"
          }
        ]
      },
      {
        "type": "button",
        "limit": 1,
        "name": {
          "en": "Button",
          "de": "Button",
          "es": "Botón",
          "fr": "Bouton",
          "pt-PT": "Botão"
        },
        "settings": [
          {
            "type": "url",
            "id": "button_url",
            "label": {
              "en": "Button link",
              "de": "Buttonlink",
              "es": "Enlace del botón",
              "fr": "Lien du bouton",
              "pt-PT": "Ligação do botão"
            },
            "default": "\/collections\/all"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": {
              "en": "Button label",
              "de": "Button-Bezeichnung",
              "es": "Etiqueta del botón",
              "fr": "Étiquette du bouton",
              "pt-PT": "Etiqueta do botão"
            },
            "default": {
              "en": "Shop now",
              "de": "Jetzt einkaufen",
              "es": "Compra ahora",
              "fr": "Achetez maintenant",
              "pt-PT": "Compre agora"
            }
          },
          {
            "type": "header",
            "content": {
              "en": "Button colors",
              "de": "Button colors",
              "es": "Button colors",
              "fr": "Button colors",
              "pt-PT": "Button colors"
            }
          },
          {
            "type": "paragraph",
            "content": {
              "en": "If a color is selected, it will override the color scheme",
              "de": "Wenn eine Farbe ausgewählt ist, überschreibt diese das Farbschema",
              "es": "Si se selecciona un color, este anulará el esquema de color",
              "fr": "Si une couleur est sélectionnée, cela remplacera le jeu de couleurs",
              "pt-PT": "Se uma cor for selecionada, ela substituirá o esquema de cores"
            }
          },
          {
            "type": "color",
            "id": "color_button_text",
            "label": {
              "en": "Button text",
              "de": "Buttontext",
              "es": "Texto del botón",
              "fr": "Texte des boutons",
              "pt-PT": "Texto do botão"
            },
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_button_background",
            "label": {
              "en": "Button background",
              "de": "Button-Hintergrund",
              "es": "Fondo del botón",
              "fr": "Bouton fond d'écran",
              "pt-PT": "Fundo do botão"
            },
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_hover_button_text",
            "label": {
                "en": "Button text hover",
                "de": "Button-Text-Hover",
                "es": "Efecto hover sobre el texto del botón",
                "fr": "Bouton de survol du texte",
                "pt-PT": "Texto do botão ao passar o rato"
            },
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_hover_button_background",
            "label": {
                "en": "Button background hover",
                "de": "Button-Hintergrund-Hover",
                "es": "Efecto hover sobre el fondo del botón",
                "fr": "Bouton de survol de l'arrière-plan",
                "pt-PT": "Fundo do botão ao passar o rato"
            },
            "default": "rgba(0,0,0,0)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Animated text"
        },
        "blocks": [
          {
            "type": "text_static",
            "settings": {
              "text_static": "<p>Shout about how</p>"
            }
          },
          {
            "type": "text_dynamic"
          },
          {
            "type": "text_static",
            "settings": {
              "text_static": "<p>your product is.</p>"
            }
          },
          {
            "type": "button"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}