<link rel="preload" href="{{ 'section-countdown-timer.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-countdown-timer.min.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  if section.settings.text_overlapping_image
    assign layout_class = 'countdown-timer--overlap'
    case section.settings.layout
      when 'image_on_left'
        assign layout_class = layout_class | append: ' countdown-timer--overlap-right'
      when 'image_on_right'
        assign layout_class = layout_class | append: ' countdown-timer--overlap-left'
    endcase
  else
    assign layout_class = 'countdown-timer--no-overlap'
    if section.settings.layout == 'image_on_right'
      assign layout_class = layout_class | append: ' countdown-timer--no-overlap--reverse'
    endif
  endif

  if section.settings.section_width == 'content'
    assign layout_class = layout_class | append: ' countdown-timer--content-width'
  endif

  case section.settings.text_alignment
    when 'left'
      assign flex_align_class = 'flex-start'
    when 'center'
      assign flex_align_class = 'center'
    when 'right'
      assign flex_align_class = 'flex-end'
  endcase
-%}

<style>
  @media screen and (min-width: 768px) {
    .countdown-timer--{{ section.id }},
    .countdown-timer--{{ section.id }} h2 {
      text-align: {{ section.settings.text_alignment }};
    }
    .countdown-timer--{{ section.id }} .countdown-timer__container {
      justify-content: {{ flex_align_class }};
    }
  }
</style>

<section data-wetheme-section-type="countdown-timer" data-wetheme-section-id="{{ section.id }}" class="homepage-sections-wrapper--{{ section.settings.color_scheme }} {{ layout_class }} countdown-timer--{{ section.id }}">

  <div class="countdown-timer__image{% if settings.ken_burns_enabled %} kb-enabled{% endif %}">
    {% if section.settings.image != blank %}
      <div id="rellax--{{ section.id }}" class="img" data-rellax-percentage="0.5" data-rellax-speed="-6">
        {% render 'responsive-image' with section.settings.image, alt: section.settings.image.alt, allow_stretch: true %}
      </div>
    {% else %}
      <div id="rellax--{{ section.id }}" class="placeholder-background img" data-rellax-percentage="0.5" data-rellax-speed="-6">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
      </div>
    {% endif %}
  </div>

  <div class="countdown-timer__content-box-wrapper">
    {% if section.blocks.size > 0%}
      <div class="countdown-timer__content-box">
        <div class="countdown-timer__content-box-inner show-on-scroll">
          {% for block in section.blocks %}
            {% case block.type %}

              {% when 'countdown_timer' %}

                {%- liquid

                  assign max_days = 999
                  assign max_days_length = max_days | append: "" | size

                  assign now_timestamp = 'now' | date: '%s' | times: 1000

                  # Calculate seven days from now (for placeholder before inputs are entered)

                  assign placeholder_time = 86400000 | times: 7
                  assign placeholder_timestamp = now_timestamp | plus: placeholder_time
                  assign placeholder_end_date = placeholder_timestamp | divided_by: 1000 | date: '%m-%d-%Y %H:%M:%S'

                  # If inputs are blank, set the timer end to the placeholder end

                  if block.settings.end_date == blank and block.settings.end_time == blank
                    assign end_date_input = placeholder_end_date | split: ' ' | first
                    assign end_time_input = placeholder_end_date | split: ' ' | last
                  else
                    assign end_date_input = block.settings.end_date
                    assign end_time_input = block.settings.end_time
                  endif

                  # Date data for web component

                  assign end_date = end_date_input | split: '-'
                  assign month = end_date[0]
                  assign day = end_date[1]
                  assign year = end_date[2]

                  # Time data for web component

                  assign end_time = end_time_input | split: ':'
                  assign hour = end_time[0]
                  assign minute = end_time[1]
                  assign second = end_time[2]

                  # Get the time remaining once date setting is fully populated

                  if end_date_input.size == 10
                    assign input_is_complete = true
                  endif

                  if input_is_complete
                    assign date_components = end_date_input | split: '-'
                    assign formatted_date = date_components[1] | append: '-' | append: date_components[0] | append: '-' | append: date_components[2]
                    assign end_timestamp = formatted_date | append: ' ' | append: end_time_input | date: '%s' | times: 1000
                    assign time_remaining = end_timestamp | minus: now_timestamp
                  endif

                  # If end is in the future and less than the max days away, populate the countdown with the initial time remaining (while the webcompnent is loading)

                  assign time_remaining_max = max_days | times: 86400000
                  if time_remaining > 0 and time_remaining < time_remaining_max
                    assign set_timer = true
                  endif
                  if set_timer
                    assign days_remaining = time_remaining | divided_by: 86400000
                    assign hours_remaining = time_remaining | divided_by: 3600000 | modulo : 24
                    assign minutes_remaining = time_remaining | divided_by: 1000 | divided_by: 60 | modulo : 60
                    assign seconds_remaining = time_remaining | divided_by: 1000 | modulo : 60
                  endif

                  # Hide timer if end is in the past and hide timer when complete is enabled

                  if block.settings.hide_when_complete and time_remaining < 0
                    assign hide_timer = true
                  endif

                  if block.settings.time_labels == 'show'
                    assign show_labels = true
                  endif
                -%}

                {% capture separator %}
                  <div class="countdown-timer__separator"><span class="countdown-timer__separator-dot"></span><span class="countdown-timer__separator-dot"></span></div>
                {% endcapture %}

                <countdown-timer
                  data-section-id="{{ section.id }}"
                  data-timezone="{{ 'now' | date: '%z' }}"
                  data-year="{{ year }}"
                  data-month="{{ month }}"
                  data-day="{{ day }}"
                  data-hour="{{ hour | default: 00 }}"
                  data-minute="{{ minute | default: 00 }}"
                  data-second="{{ second | default: 00 }}"
                  data-max-days="{{ max_days }}"
                  data-hide-when-complete="{{ block.settings.hide_when_complete }}"
                  class="countdown-timer__component{% if hide_timer %} hide{% endif %}"
                  role="presentation"
                  {{ block.shopify_attributes }}
                >
                  <div class="countdown-timer__container">

                    <div class="countdown-timer__digit-group-container" aria-hidden="true">
                      <div class="countdown-timer__digit-group">
                        {% for i in (1..max_days_length) %}
                        {% assign days_index = max_days_length | plus: 1 | minus: i | times: -1 %}
                        {% assign digit = days_remaining | slice: days_index %}
                          <div class="countdown-timer__digit h5{% if days_index < -2 and digit == blank %} hide{% endif %}">
                            <div data-digit{% if days_index < -2 %} data-hide-when-zero{% endif %}>
                              <div data-digit-now></div>
                              <div data-digit-last>{{ digit | default: 0 }}</div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      {% if show_labels %}
                        <span>{{ 'general.time.days' | t }}</span>
                      {% endif %}
                    </div>

                    {{ separator }}

                    <div class="countdown-timer__digit-group-container" aria-hidden="true">
                      <div class="countdown-timer__digit-group">
                        {% for i in (1..2) %}
                          <div class="countdown-timer__digit h5">
                            {% assign hours_index = 3 | minus: i | times: -1 %}
                            <div data-digit>
                              <div data-digit-now></div>
                              <div data-digit-last>{{ hours_remaining | slice: hours_index | default: 0 }}</div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      {% if show_labels %}
                        <span>{{ 'general.time.hours' | t }}</span>
                      {% endif %}
                    </div>

                    {{ separator }}

                    <div class="countdown-timer__digit-group-container" aria-hidden="true">
                      <div class="countdown-timer__digit-group">
                        {% for i in (1..2) %}
                          <div class="countdown-timer__digit h5">
                            {% assign minutes_index = 3 | minus: i | times: -1 %}
                            <div data-digit>
                              <div data-digit-now></div>
                              <div data-digit-last>{{ minutes_remaining | slice: minutes_index | default: 0 }}</div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      {% if show_labels %}
                        <span>{{ 'general.time.minutes' | t }}</span>
                      {% endif %}
                    </div>

                    {{ separator }}

                    <div class="countdown-timer__digit-group-container" aria-hidden="true">
                      <div class="countdown-timer__digit-group">
                        {% for i in (1..2) %}
                          <div class="countdown-timer__digit h5">
                            {% assign seconds_index = 3 | minus: i | times: -1 %}
                            <div data-digit>
                              <div data-digit-now></div>
                              <div data-digit-last>{{ seconds_remaining | slice: seconds_index | default: 0 }}</div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                      {% if show_labels %}
                        <span>{{ 'general.time.seconds' | t }}</span>
                      {% endif %}
                    </div>
                  </div>
                </countdown-timer>

                <safe-load-scripts>
                  <script src="{{ 'component-countdown-timer.js' | asset_url }}" type="module" defer="defer" data-flow-load-key="component-countdown-timer"></script>
                </safe-load-scripts>

              {% when 'subheading' %}

                {% if block.settings.subheading != blank %}
                  <h3 class="countdown-timer__subheading" {{ block.shopify_attributes }}>{{ block.settings.subheading }}</h3>
                {% endif %}

              {% when 'heading' %}

                {% if block.settings.heading != blank %}
                  <h2 class="homepage-sections--title countdown-timer__heading" {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
                {% endif %}

              {% when 'text' %}

                {% if block.settings.text != blank %}
                  <p class="countdown-timer__text" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
                {% endif %}

              {% when 'button' %}

                {% if block.settings.link != blank and block.settings.label != blank %}
                  <a href="{{ block.settings.link }}" class="homepage-featured-box-btn countdown-timer__button" {{ block.shopify_attributes }}>
                    {{ block.settings.label | escape }}
                  </a>
                {% endif %}

              {% when 'timer_complete_message' %}

                {% if block.settings.text != blank %}
                  <p data-timer-complete-content data-section-id={{ section.id }} class="countdown-timer__timer-complete-message hide" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
                {% endif %}

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% schema %}
{
  "name": "Countdown timer",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "white",
          "label": "Minimal"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "accent",
          "label": "Feature"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "white"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Minimum recommended dimensions 1000px wide, 750px high"
    },
    {
      "type": "checkbox",
      "id": "text_overlapping_image",
      "label": "Overlay content on image",
      "default": true
    },
    {
      "type": "radio",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "content",
          "label": "Content width"
        }
      ],
      "default": "full"
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Layout on desktop",
      "options": [
        {
          "value": "image_on_left",
          "label": "Content on right"
        },
        {
          "value": "image_on_right",
          "label": "Content on left"
        }
      ],
      "default": "image_on_right"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment on desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "countdown_timer",
      "name": "Countdown timer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "label": "Countdown end date",
          "info": "Use the format mm-dd-yyyy, eg. 01-31-2024"
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "Countdown end time",
          "info": "Use the format hh:mm:ss, eg. 23:59:59. Use the timezone specified in your Shopify admin"
        },
        {
          "type": "checkbox",
          "id": "hide_when_complete",
          "label": "Hide when countdown reaches zero",
          "default": false
        },
        {
          "type": "radio",
          "id": "time_labels",
          "label": "Time labels",
          "options": [
            {
              "value": "show",
              "label": "Show"
            },
            {
              "value": "hide",
              "label": "Hide"
            }
          ],
          "default": "show"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Grab the offer before it's gone"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Button label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link",
          "default": "/collections/all"
        }
      ]
    },
    {
      "type": "timer_complete_message",
      "name": "Out of time message",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add this block to show a message when the timer reaches zero"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Message"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Countdown timer",
      "blocks": [
        {
          "type": "timer_complete_message",
          "settings": {
            "text": "You've just missed this offer"
          }
        },
        {
          "type": "heading",
          "settings": {
            "heading": "Offer ends soon"
          }
        },
        {
          "type": "countdown_timer"
        },
        {
          "type": "text",
          "settings": {
            "text": "Grab the offer before it's gone"
          }
        },
        {
          "type": "button",
          "settings": {
            "label": "Shop now"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
