{% style %}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--body-color);
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--body-color);
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

body,
.site-header,
.password--store-owner a {
  color: {{ section.settings.password__text-color }};
}

.password--wrapper {
  height: 100vh;
}

a,
.site-header--inner {
  color: {{ section.settings.password__text-color }};
}

.password--main,
.site-header {
  background-color: {{ section.settings.password__background-color }};
}

.password--main,
input#email,
input#email::placeholder,
#sm-icons a {
  color: {{ section.settings.password__text-color }};
}

#sm-icons a svg {
  fill: {{ section.settings.password__text-color }};
}

input#email,
input#password {
  color: {{ section.settings.password__text-color }};
  border: none;
  border-bottom: 1px solid {{ section.settings.password__text-color }};
  transition: border 0.15s ease-in-out;
}

/* Reset default focus state when using mouse */
input#email:focus-visible, 
input#password:focus-visible {
  outline-width: 0;
}

input#email:focus, 
input#password:focus {
  border: 0;
  border-bottom: 1px solid {{ section.settings.password__text-color }};
}

/* Add focus styles when text input is focused via keyboard */
.using-keyboard input#email:focus, 
.using-keyboard input#password:focus {
  box-shadow: inset 2px 0 0 0 {{ section.settings.password__text-color }}, 
              inset 0 2px 0 0px {{ section.settings.password__text-color }}, 
              inset -2px 0 0 0px {{ section.settings.password__text-color }}, 
              inset 0 -1px 0 0px {{ section.settings.password__text-color }};
}

.password--enter-label + .input-group {
  margin-top: 30px;
}

input.btn {
  color: {{ section.settings.password-button__text-color }};
  background: {{ section.settings.password-button__background-color }};
  border: 1px solid {{ section.settings.password-button__background-color }};
}

.password--logo img{
  width: {{ section.settings.logo_max_width }}px;
}

.password--close:before,
.password--close:after {
  background-color: {{ section.settings.password__text-color }};
}

.powered,
.powered a,
.password-show {
	color: {{ section.settings.password__footer-color }};
}

{% if section.settings.password__background %}
  {% render 'responsive-background-image' with section.settings.password__background, selector: '.password--container' %}
  .password--container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
  }

  .background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.password__background_overlay_opacity }});
  }
{% else %}
.password--container {
    background-image: url({{ 'password-default-image.jpg' | asset_url }});
    background-size: cover;
    background-position: center;
    background-attachment: fixed
  }
  .background-overlay{
      background-color: rgba(0, 0, 0, 0.{{ section.settings.password__background_overlay_opacity }});
  }
{% endif %}
{% endstyle %}

<header class="site-header" style="display: none;">
	<div class="site-header--inner" role="dialog" aria-modal="true" aria-label="Enter store using password">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<div class="form-group">
			<label for="password" class="password--enter-label">{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">
			<input type="password" name="password" id="password" class="form-control password--input" />
			<span class="input-group-btn"><input class="btn btn-default" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" /></span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner-links">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div><a tabindex="0" class="password--close" href="#"></a></div>
	</div>
</header>

<div class="password--wrapper">

  <div class="password--main-container">
	<section class="password--main">

		<div class="password--logo">
      {% if section.settings.logo %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo"
          loading="lazy">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
		</div>

    {% if section.settings.password__header-text != blank %}
      <h1 class="custom-font">{{ section.settings.password__header-text }}</h1>
    {% endif %}

		{% if shop.password_message and shop.password_message != '' %}
			<div class="password--welcome-message">
				<p>{{ shop.password_message }}</p>
			</div>
		{% endif %}

    {% if section.settings.newsletter_enable %}

		<div class="password--mailing-list">
			{% form 'customer' %}
				{{ form.errors | default_errors }}
				{% if form.posted_successfully? %}
					<div class="alert alert-success" role="alert">
						{{ 'coming_soon.general.thanks_mailing' | t }}
					</div>
				{% else %}
				<div class="form-group">
          {% if section.settings.newsletter_description != empty %}
            <div class="rte">{{ section.settings.newsletter_description }}</div>
          {% endif %}
					<div class="input-group">
						<input type="hidden" name="contact[tags]" value="prospect, password page">
						<input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="form-control password--input">
						<span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
					</div>
				</div>
				{% endif %}
			{% endform %}
		</div>

    {% endif %}

    {% if section.settings.social_media_icons %}
      {% render 'social-icons' %}
    {% endif %}

	</section>
  </div>

  <footer id="password--footer">
    <div class="powered">
      {{ 'coming_soon.general.powered_by_html' | t }}
    </div>

    <div class="password--site-owner-options">
      <a href="#" class="password-show">{{ 'coming_soon.general.password' | t }}</a>
    </div>
  </footer>

</div>

{% schema %}
{
    "name": {
        "en": "Password page",
        "de": "Passwort-Seite",
        "es": "Página de contraseña",
        "fr": "Page de mot de passe",
        "pt-PT": "Página da palavra-passe"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Colors",
                "de": "Farben",
                "es": "Colores",
                "fr": "Couleurs",
                "pt-PT": "Cores"
            }
        },
        {
            "type": "color",
            "id": "password__text-color",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "password__background-color",
            "label": {
              "en": "Background",
              "de": "Hintergrund",
              "es": "Fondo",
              "fr": "Contexte général",
              "pt-PT": "Fundo"
            },
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "password__footer-color",
            "label": {
                "en": "Footer text",
                "de": "Fußzeilentext",
                "es": "Texto de pie de página",
                "fr": "Texte de bas de page",
                "pt-PT": "Texto do rodapé"
            },
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "password-button__background-color",
            "label": {
              "en": "Button background",
              "de": "Button-Hintergrund",
              "es": "Fondo del botón",
              "fr": "Bouton fond d'écran",
              "pt-PT": "Fundo do botão"
            },
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "password-button__text-color",
            "label": {
              "en": "Button text",
              "de": "Buttontext",
              "es": "Texto del botón",
              "fr": "Texte des boutons",
              "pt-PT": "Texto do botão"
            },
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": {
                "en": "Background image",
                "de": "Hintergrundbild",
                "es": "Imagen de fondo",
                "fr": "Image d'arrière-plan",
                "pt-PT": "Imagem de fundo"
            }
        },
        {
            "type": "image_picker",
            "id": "password__background",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "2000 x 800px recommended",
                "de": "2000 x 800 px empfohlen",
                "es": "Recomendado 2000 x 800 px",
                "fr": "2000 x 800 px recommandé",
                "pt-PT": "2000 x 800px, recomendado"
            }
        },
        {
            "type": "range",
            "id": "password__background_overlay_opacity",
            "min": 0,
            "max": 95,
            "step": 5,
            "unit": {
                "en": "%",
                "de": "%",
                "es": "%",
                "fr": "%",
                "pt-PT": "%"
            },
            "label": {
                "en": "Overlay opacity",
                "de": "Überlagerungsdeckkraft",
                "es": "Capacidad de sobrexposición",
                "fr": "Opacité de superposition",
                "pt-PT": "Opacidade de sobreposição"
            },
            "default": 40
        },
        {
            "type": "header",
            "content": {
              "en": "Content",
              "de": "Inhalt",
              "es": "Contenido",
              "fr": "Contenu",
              "pt-PT": "Conteúdo"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo image",
                "de": "Logobild",
                "es": "Imagen del logotipo",
                "fr": "Image du logo",
                "pt-PT": "Imagem do logótipo"
            }
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "min": 50,
            "max": 400,
            "step": 10,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
                "en": "Logo width",
                "de": "Logobreite",
                "es": "Ancho del logotipo",
                "fr": "Largeur du logo",
                "pt-PT": "Largura do logótipo"
            },
            "default": 200
        },
        {
            "type": "text",
            "id": "password__header-text",
            "label": {
              "en": "Heading",
              "de": "Überschrift",
              "es": "Encabezado",
              "fr": "Rubrique",
              "pt-PT": "Título"
            },
            "default": {
                "en": "Will be opening soon...",
                "de": "Wird bald geöffnet sein...",
                "es": "Estará abierto pronto...",
                "fr": "Ouverture prochaine...",
                "pt-PT": "Irá abrir brevemente..."
            }
        },
        {
            "type": "paragraph",
            "content": {
                "en": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)",
                "de": "[Bearbeiten Sie die Nachricht Ihrer Passwort-Seite in Ihren Shopify-Einstellungen](http://www.shopify.com/admin/online_store/preferences)",
                "es": "[Edite el mensaje de su página de contraseña en sus ajustes de Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "fr": "[Modifiez le message de votre page de mot de passe dans vos paramètres Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "pt-PT": "[Edite a mensagem na página da palavra-passe nas suas definições da Shopify](http://www.shopify.com/admin/online_store/preferences)"
            }
        },
        {
            "type": "checkbox",
            "id": "social_media_icons",
            "label": {
                "en": "Show social media icons",
                "de": "Social-Media-Symbole anzeigen",
                "es": "Mostrar los iconos de redes sociales",
                "fr": "Afficher les icônes des médias sociaux",
                "pt-PT": "Mostrar ícones de redes sociais"
            },
            "default": true,
            "info": {
                "en": "Edit your social settings and accounts in General settings",
                "de": "Bearbeiten Sie Ihre Social-Media-Einstellungen und -Konten in „Allgemeine Einstellungen“",
                "es": "Edite sus ajustes y cuentas de redes sociales en los Ajustes generales",
                "fr": "Modifier vos paramètres sociaux et vos comptes dans « Paramètres généraux »",
                "pt-PT": "Edite as suas definições e contas de redes sociais nas Definições gerais"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Boletín de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            }
        },
        {
            "type": "checkbox",
            "id": "newsletter_enable",
            "label": {
                "en": "Show newsletter signup",
                "de": "Newsletter-Anmeldung anzeigen",
                "es": "Mostar el registro al boletín de noticias",
                "fr": "Afficher l'inscription au bulletin d'information",
                "pt-PT": "Mostrar assinatura de newsletter"
            },
            "default": true
        },
        {
            "type": "richtext",
            "id": "newsletter_description",
            "label": {
                "en": "Description",
                "de": "Beschreibung",
                "es": "Descripción",
                "fr": "Description",
                "pt-PT": "Descrição"
            },
            "default": {
                "en": "<p>Find out when we open</p>",
                "de": "<p>Finden Sie heraus, wann wir öffnen</p>",
                "es": "<p>Descúbrelo cuando abramos</p>",
                "fr": "<p>Découvrez quand nous ouvrons </p>",
                "pt-PT": "<p>Descubra quando abrirmos</p>"
            }
        }
    ]
}
{% endschema %}
